[Desktop Entry]
Type=Application
Categories=Science;Electronics;Engineering
Name=bCNC
Comment=GRBL CNC command sender, autoleveler and g-code editor
Exec=/usr/bin/bCNC --fullscreen
Icon=/usr/share/pixmaps/bCNC.png
StartupNotify=false
Terminal=false
Keywords=CNC;PCB;
