[Desktop Entry]
Name=K40 Wisperer
Exec=/home/houser/Applications/bambu-studio/bambu-studio
Type=Application
StartupNotify=true
Path=/home/houser/Applications/bambu-studio
Icon=/home/houser/Applications/bambu-studio/bambu-studio.webp