[Desktop Entry]
Name=F-Engrave
Name[en_US]=F-Engrave
Version=1.75
Type=Application
Categories=Science;Electronics;Engineering
Keywords=CNC;
Comment=F-Engrave CNC V-Carve Controller
Exec=/usr/bin/f-engrave
Icon=/usr/share/pixmaps/f-engrave.png
Terminal=false
StartupNotify=false
